extends layout
block content
    header.card-header
        h4.card-title Welcome 
        |&nbsp
    div.form-row
        div.col.form-group.col-md-12    
            form.search(action='/register/userlist')
                div.form-row
                    div.col-md-8
                        input.form-control(name='email' placeholder="Enter your search term(email) ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
    table.table
        thead.thead-dark
            tr
                th Firstname
                th Lastname
                th Company
                th Email
                th Area Code
                th Phone
                th Address
                //- th National ID
                th First ID Characters
                th ID Num Characters
                th Last ID characters
                th Employee ID
                th 
        tbody
            each user in users
                tr
                    td #{user.username}
                    td #{user.last_name}
                    td #{user.company}
                    td #{user.email}
                    td #{user.area_code}
                    td #{user.phone}
                    td #{user.address}
                    td #{user.idcharacters}
                    td #{user.idnum}
                    td #{user.idcharacterstwo}
                    td #{user.employee}
                    td
                        form(method="post" action='/register/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
    //- div.form-row
    //-         div.col-md-2.offset-9
    //-             form(method="post" action='/logout') 
    //-                 button.btn.btn-dark.btn-block(type="submit") Log out
